Flask
Flask-Login
Flask-SQLAlchemy
Flask-Cors
SQLAlchemy
Pillow
psycopg2-binary
python-dotenv
qrcode
werkzeug
gunicorn
Flask
Flask-Cors
Flask-Login
Flask-SQLAlchemy
gunicorn
Pillow
psycopg2-binary
python-dotenv
qrcode
SQLAlchemy
werkzeug
oauthlib
requests
